/* google fonts styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@300;400;600;700;800&family=Work+Sans:ital,wght@0,400;0,800;0,900;1,600;1,700&display=swap");

/* shared styles */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* header styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-list ul {
  display: flex;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  margin-left: 20px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 50px 90px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}
.banner-text {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  padding: 10px 24px;
}
.banner-img {
  background: url("../assets/images/Circle\ design.svg");
  padding-top: 40px;
}

/* sponsor styles */
main {
  max-width: 1120px;
  margin: 70px auto;
}
.sponsor-iteams {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}
.sponsor-iteams img {
  margin-left: 60px;
}

/* Popular Collection styles */
.popular-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 30px;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-items {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px;
}
.collection-items img {
  margin: 0 auto;
  width: 100%;
}
.item-title {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.375rem;
}
.item-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}
.item-rating,
.item-description {
  color: #5e6366;
  font-size: 0.875rem;
  font-weight: 700;
}
.next-button {
  text-align: right;
  margin-top: 50px;
}
.next-button a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
}

/* feature styles */
.feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
  margin-top: 100px;
}
.feature-title {
  color: #0a0826;
  font-size: 2.375rem;
  font-weight: 700;
}
.feature-description {
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* responsive styles */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-list ul,
  .banner {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .sponsor {
    margin: 0 auto;
  }
  .sponsor-iteams,
  .popular-title {
    padding: 10px;
    text-align: center;
    border: none;
  }
  .sponsor-iteams img {
    margin-left: 20px;
  }
  .collection-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
